# Configuration for running isodatetime tests on Travis CI
# See https://travis-ci.org/ for more info.

---
dist: xenial
language: python

matrix:
  fast_finish: true
  include:
    - python: 3.5
      env: RUN_COVERAGE=false
    - python: 3.6
      env: RUN_COVERAGE=false
    - python: 3.7
      env: RUN_COVERAGE=false
    - python: 3.8
      env: RUN_COVERAGE=true
    - python: 3.8
      env: RUN_COVERAGE=false TZ=XXX-05:30 # Test in +05:30 time zone
    - python: 3.9-dev
      env: RUN_COVERAGE=false
    - os: osx
      env: RUN_COVERAGE=false
      # Install Python via Homebrew, Travis cannot install Python ATM.
      language: generic
      addons:
        homebrew:
          update: true
          packages: python3
      # Activate a virtualenv (this is how Travis provides a py environment)
      before_install:
        - pip3 install virtualenv
        - virtualenv -p python3 ~/venv
        - source ~/venv/bin/activate

install:
  # Upgrade pip and setuptools as some times the versioning scheme hack fails
  # in Travis-CI.
  - pip install --upgrade pip setuptools
  - pip install -e .[all]
  - pip install pytest-xdist pycodestyle

before_script:
  - flake8 metomi/isodatetime

script:
  - |
    PYTEST_ARGS=('-n' '4')
    if "$RUN_COVERAGE"; then
      PYTEST_ARGS+=('--cov=metomi/isodatetime')
    fi
    pytest "${PYTEST_ARGS[@]}"

after_success:
  - |
    coverage xml --ignore-errors
    if "$RUN_COVERAGE"; then
      bash <(curl -s https://codecov.io/bash)
    fi
