name: Build

# build the project whenever the configuration is changed

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - 'README.md'       # check markdown is valid
      - 'MANIFEST.in'     # check packaging
      - 'pyproject.toml'  # check build config

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 2
  PIP_PROGRESS_BAR: off

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        os: ['ubuntu-latest']
        python: ['3.11', '3.12', '3']
        include:
          - os: ubuntu-22.04
            python: '3.10'
          - os: 'macos-latest'
            python: '3.10'
    name: ${{ matrix.os }} py-${{ matrix.python }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: mamba-org/setup-micromamba@v2
        with:
          cache-environment: true
          post-cleanup: 'all'
          environment-name: isodatetime-build
          create-args: >-
            python=${{ matrix.python }}

      - name: Build
        uses: cylc/release-actions/build-python-package@v1
        with:
          check-dependencies: false

      - name: Inspect
        run: |
          unzip -l dist/*.whl | tee files
          set -x
          grep 'metomi/isodatetime/data.py' files
          grep 'metomi_isodatetime.*.dist-info/licenses/LICENSE' files
          grep 'metomi/isodatetime/py.typed' files
